---
interface ImageSchema {
    alt: string;
    avifUrl: string;
    webpUrl: string;
    jpgUrl: string;
    fallbackUrl: string;

}

interface ProjectSchema {
    projectTitle: string;
    slug: string;
    startDate: string;
    technologies: Array<string>;
    projectLink: string;
    longDescription: string;
    primaryImage: ImageSchema;
    gallery: Array<ImageSchema>;
}

const { project } = Astro.props;
const { projectTitle,slug,startDate,technologies,projectLink,longDescription,primaryImage,gallery } = project;

---
<div>
    <div class="inset-0 object-cover fixed">
        <picture>
            <source type="image/avif" srcset={primaryImage.avifUrl} />
            <source type="image/webp" srcset={primaryImage.webpUrl} />
            <source type="image/jpeg" srcset={primaryImage.jpgUrl} />
            <img src={primaryImage.fallbackUrl} alt={primaryImage.alt} />
        </picture>
    </div>
</div>