---
import NavigationBar from "../components/NavigationBar";

interface Props {
  title: string;
  description?: string;
  ogImage?: string;
  favicon?: string;
  suffix?: string;
}
import "../global.css";
const response = await fetch("https://graphql.datocms.com/", {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
    Accept: "application/json",
    Authorization: `Bearer ${import.meta.env.DATOCMS_API_KEY}`,
  },
  body: JSON.stringify({
    query: `query MyQuery {
  _site {
    favicon {
      url
    }
    globalSeo {
      siteName
      titleSuffix
      fallbackSeo {
        description
        title
        image {
          url
        }
      }
    }
  }
}
      `,
  }),
});

const json = await response.json();

const {
  title,
  suffix = json.data._site.globalSeo.titleSuffix,
  description = json.data._site.globalSeo.fallbackSeo.description,
  ogImage = json.data._site.globalSeo.fallbackSeo.image.url,
  favicon = json.data._site.favicon.url,
} = Astro.props;

console.log(JSON.stringify(json, null, 2));
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={favicon} />
    <meta property="og:image" content={ogImage} />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | {suffix}</title>
  </head>
  <body class="min-h-screen">
    <div class="w-full h-14 font-Anderson">
      <NavigationBar />
    </div>
    <slot />
  </body>
</html>
